.app {
  margin: 0;
  padding: 0;
}

.app header {
  box-sizing: border-box;
  width: 100vw;
  height: 64px;
  padding-inline: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ebebeb;
  margin-bottom: 32px;
}

.app header h1 {
  font-size: 2em;
  font-weight: 600;
}

.cartButton {
  background-color: #ebebeb;
  padding-inline: 8px;
  padding-block: 2px;
  border-style: none;
  border-radius: 16px;
}

.cartButton:hover {
  background-color: #dddddd;
}
